* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Set a background color */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #1fffe5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.quiz p {
    color: #333;
}

#options{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue color for the button */
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
